go 1.20

use (
	./ds-algo-made-easy/chapter-3-linked-lists/circularlist
	./ds-algo-made-easy/chapter-3-linked-lists/doublylist
	./ds-algo-made-easy/chapter-3-linked-lists/efficient-doubly-linked-list
	./ds-algo-made-easy/chapter-3-linked-lists/main
	./ds-algo-made-easy/chapter-3-linked-lists/singlylist
	./ethereum-yellow-paper/main
	./ethereum-yellow-paper/rlp
	./ethereum-yellow-paper/trie
	./golang-datastructures/chapter_2_go_for_datastructures_and_algorithms
	./golang-datastructures/chapter_3_linear_datastructures/doublylists
	./golang-datastructures/chapter_3_linear_datastructures/lists
	./golang-datastructures/chapter_3_linear_datastructures/main
	./golang-datastructures/chapter_3_linear_datastructures/queue
	./golang-datastructures/chapter_3_linear_datastructures/sets
	./golang-datastructures/chapter_3_linear_datastructures/stack
	./golang-datastructures/chapter_3_linear_datastructures/tuples
	./golang-datastructures/chapter_4_non_linear_datastructures/main
	./golang-datastructures/chapter_4_non_linear_datastructures/trees
)
